body{
    background-color: #081c40;  
}

/*Navigation Bar Section*/

  #logo{
    display: flex;
    align-items: baseline;                      
    margin-left: 2%;
    color: #FFFFFF;
  }

  #logo i{
      font-size: 40px;                      /*spotify logo*/
      color: chartreuse;
  }
  
  #logo h5{
    margin-left: 65%;
    font-family: 'Segoe UI';
    font-weight: lighter;
  }
  
  #search img{
    border-radius: 50%;
    height: 50px;
    width: 50px;                      /*Profile Picture*/
    margin-top: -14%;
    margin-right: 32px;
  }
  
  #search input{
    height: 35px;
    width: 310px;
    margin-top: -40px;
    border-radius: 10px;               /*Search Box*/
    margin-left: -10%;
    color: #FFFFFF;
    border: none;
    background-color: #3c5b82;
  }

  #search input:focus{
      outline: none;
  }

::placeholder{
      color: #a6a6a6;
      font-size: 15px;           /*Search Box Placeholder*/
      margin-top: 10px;
  }
  
  #search{
    display: flex;
  }
  
  .navbar{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #081c40;                 /*Navigation Bar*/
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    position:fixed;
    z-index: 3;
  }


  #search div i{
    color: #FFFFFF;
    font-size: 25px;
    margin-top: 5px;
    margin-right: 25px;
  }

  
  .img{
      height: 100px;
      width: 100px;
  }

  #content{                         /*Content Section : It contains main, aside and footer section.*/
      margin-top: 45px;
      margin-left: 10px;
  }

  main {                         /*Main Section*/
    width: 70%;
    display: inline-block;
    background-color: #081c40;
  }

.banner{
    height: auto;
    margin-top: 90px;                     /*Banner section that contains artist picture, name, followers, details and play all button*/
    margin-left: 80px;
    width: 80%;
    background-color: #283a58;
}

.banner{
    display: flex;
}

#title{
    display: flex;

}

#cover-image img{
    height: 300px;
    width: 300px;
    border-bottom-left-radius: 40%;                  /*Artist cover image*/
    border-bottom-right-radius: 40%;
}

#name{
    margin-left: 10px;                    /*Artist Name*/
}

#name h2{
    color: white;
    margin-top: 40px;
}

#name h4{
    color: #adaeb1;
    font-weight: lighter;
    margin-top: -18px;
    font-size: 14px;
}

#followers h4{
    color: #adaeb1;
    font-weight: lighter;          /*Artist no of Followers*/
    margin-top: 49px;
    margin-left: 190px;
    font-size: 13px;
}

#info p{
    font-size: 14px;
    margin-left: 9px;          /*Artist info*/
    color: #adaeb1;
    line-height: 20px;
}

#button-and-follow{
    display: flex;               /*Play All Button and Follow link*/
    margin-left: 25px;
}

#button button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;                 /*Play All Button and Follow link*/
    height: 40px;
    width: 120px;
    border: none;
    background-image: linear-gradient(to right, #4603a3, #aa02d9);
}

#button h5{
    color: #adaeb1;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 7px;
}

#follow{
    margin-top: 25px;           /*Follow Link*/
    margin-left: 130px;
}

#follow a{
    color: #adaeb1;
    text-decoration: none;
}

#follow a:hover{
    color: white;
}

#list{
    background: none;
    margin-top: 60px;            /*Song list of artist*/
    display: block;
}

.song{
    display: flex;
    height: auto;
    margin-top: 10px;
    width: 100%;
    background-color: #383c53;
}

.song h4{
    margin-left: 10px;
    margin-top: 18px;
    font-weight: lighter;
    color: #adaeb1;
}

.song:hover{
    background-color: rgb(158, 155, 155);      /*Song Div*/
}

#song-name img{
    margin: 10px;                 /*Song Name*/
}

#song-name h3{
    color: white;
    font-size: 17px;
    margin-top: 15px;
}

#song-name{
    display: flex;
}

#song-name img{
    height: 40px;
    width: 40px;
}

#song-name i{
    position: absolute;
    margin-left: -34px;                   /*Song Play Button*/
    margin-top: 23px;
    font-size: 14px;
    color: whitesmoke;
    visibility: hidden;
}

#song-name :hover i{
    visibility: visible;           /*Song Play Button*/
}

#duration h5{
    font-weight: lighter;
    color: #adaeb1;      /*Song Duration*/
    margin-top: 18px;
    margin-left: 200px;
}

#like-and-add{
    display: flex;                    /*Like and add button icon*/
    margin: 17px;
    margin-left:350px;
}

#like-and-add i{
    color: white;
    margin-left: 25px;
}

#like-and-add i:hover{
    color: limegreen;
}

      /*aside section*/

aside {
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 4px;
    width: 26%;
    background-color: #081c40;
  }

  #header{
      display: flex;            /*Main Headings*/
  }

  #header h2{
      color: white;
      display: inline-block;
  }

  #header a{
      text-decoration: none;
  }

  #header h4{
      background: none;
      font-size: 12px;
      border: none;
    color: #adaeb1;
      font-weight: lighter;
      margin-top: 25px;
      margin-left: 100px;
  }

  #header h4:hover{
      color: white;
  }

  #song-list{
      margin-left: -20px;          /*Recently Played Song List*/
  }

  #ordered-list li{
      color: lightgray;           /*Recently Played Song List*/
      margin-top: 10px;
  }

  #song{
      display: inline-block;
      margin-left: 5px;
  }

  #song img{
      height: 40px;              /*Recently Played Song image*/
      width: 40px;
  }
  #song div{
      display: flex;
  }

  #song a{
    color:white;
    text-decoration: none;
  }

  #song h5{
      color: lightgray;
      font-weight: lighter;
      font-size: 10px;
      margin-top: -18px;
      margin-left: 10px;
  }

  #song h4{
      font-size: 13px;
      margin-top: -2px;
      margin-left: 10px;
  }

  #song{
      display: flex;
  }

  .heart{
      margin-left: 130px;        /*Recently played Song heart*/
  }

  .heart i{
      color:grey;
  }

  .heart i:hover{
      color: lime;
  }

  .music-img{
    height: 90px;
    width:90px;
}

.song-name{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.block{
    display: flex;
    margin-top: 10px;
}

.option{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 90px;
}

.duration{
    color: white;
    margin-left: -20px;
    margin-top: 30px;
    font-size: 12px;
}

.icon{
    display: flex;
}

#similar-playlist{
    display: block;
}

  /*Music Control Bar*/

  .music-control{
      width: 100%;
      height: auto;
      background-color: #404040;        /*music control bar*/
      display: flex;
      bottom: 0;
      position: fixed;
  }

  .s-img img{
      height: 40px;               /*Now Playing song image*/
      width: 40px;
      margin: 13px;
  }

  .s-img{
      display: flex;
  }

  .s-img a{
      color: white;
      text-decoration: none;
  }

  .s-img h5{
      color: lightgrey;
      font-weight: lighter;      /*Now playing song name*/
      font-size: 11px;
      margin-top: -18px;
  }

  .s-img h4{
      font-size: 14px;          /*Now Playing song album name*/
  }

  #song-info{
      display: flex;
      margin-left: 87px;
  }

  #like-and-ban i{
      color: gray;
      margin: 5px;         /*Like and ban section*/
      margin-top: 19px;
      margin-left: 10px;
  }

  #like-and-ban i:hover{
      color: limegreen;
  }

  #middle-bar{
      display: block;
  }

  .controls{                    /*Controls containing pause, backward, forward, loop and repeat icons*/
      display: flex;
      margin-left: 19%;
  }

  .controls a{
      color: grey;
      font-weight: lighter;
  }

  .controls i{
      margin: 10px;
      margin-top: 20px;
      font-size: 15px;
  }

  .controls i:hover{
      color: limegreen;
  }

  #pause i{
      font-size: 30px;
      margin-top: 13px;
  }

  .progress{                     /*Now playing song progress bar*/
      display: flex;
      margin-left: 70px;
      margin-top: 18px;
  }

  .progress h6{
      color:lightgray;
      font-weight: lighter;
      margin-top: 5px;
  }

  #progress-outline{
      width: 550px;
      height: 2px;
      background-color:gray;         /*Now playing song progress outline*/
      border-radius: 50px;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 10px;
  }

  #progress-bar{
      width: 30%;
      height: 2px;                         /*Now playing song completed part colored green*/
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      background-color: limegreen;
  }

  #circle{
      height: 10px;
      width: 10px;
      position: absolute;                     /*progress bar slider cirlce*/
      margin-top: -4px;
      margin-left: 160px;
      background-color: white;
      border-radius: 50px;
  }

  .volume-bar{
      display: flex;                 /*volume bar*/
      margin: 20px;
  }

  .volume-bar i{
      color: grey;
  }

  #vol-outline{
    width: 130px;
    margin: 5px;
    margin-left: 10px;
    height: 4px;
    background-color:gray;
    border-radius: 50px;
  }

  #vol-bar{
      background-color: limegreen;
      height: 4px;
      width: 35%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
  }

  #vol-circle{
    height: 10px;
    width: 10px;
    position: absolute;
    margin-top: -3px;
    margin-left: 40px;
    background-color: white;
    border-radius: 50px;
  }